<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
       <mat-card-content>
         <span>Full Name : </span>
         <div class="example-full-width">
           <mat-form-field class="space">
          <input matInput placeholder="firstName" formControlName="firstName">
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="lastName" formControlName="lastName">
        </mat-form-field>
         </div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <span>Address : </span>
         <div formGroupName="address">
        <div class="example-full-width">
          <mat-form-field class="space">
             <input matInput placeholder="ZipCode" formControlName="zipCode">
          </mat-form-field>

          <mat-form-field>
             <input matInput placeholder="AddressLine" formControlName="addressLine">
          </mat-form-field>
        </div>
        <div class="example-full-width">
          <mat-form-field class="space">
             <input matInput placeholder="city" formControlName="city">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Country" formControlName="country">
          </mat-form-field>
        </div>
         </div>
         <span> Coordinates :  </span>
        <div class="example-full-width" formGroupName="coordinates">
        <mat-form-field class="space">
          <input matInput placeholder="latitude" type="number"  min="-90" max="90" formControlName="latitude">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="longitude" type="number"  min="-90" max="90" formControlName="longitude">
        </mat-form-field>
        </div>
      </mat-card-content>
      <input mat-stroked-button color="accent" type="submit" name="submit" value="Register" class="btn-block">
    </form>
  </mat-card>
</div>
