<mat-card class="example-card" *ngFor="let shop of shops">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{shop.name}}</mat-card-title>
    <mat-card-subtitle>{{shop.address.zipCode}},{{shop.address.addressLine}},{{shop.address.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{shop.logo}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{shop.description}}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="shopPage==='nearby'">
    <button mat-button (click)="likeShop(shop.name)">Like</button>
    <button mat-button (click)="dislikeShop(shop.name)">Dislike</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="shopPage==='preferred'">
    <button mat-button (click)="removeLikedShop(shop.name)">Remove</button>
  </mat-card-actions>

</mat-card>
